<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>com.claim.bookstore.controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBook</servlet-name>
        <servlet-class>com.claim.bookstore.controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBook</servlet-name>
        <servlet-class>com.claim.bookstore.controller.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBook</servlet-name>
        <url-pattern>/getBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBook</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
</web-app>